<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gora Home</title>
    <style>
        #btn{
            background-color: peachpuff;
            width: 100%;
            height: 100px;
        }
        h1{
            text-align: center;
            width: 100%;
        }
        .cont{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1>Welcome to Gora ! </h1>
    <form method="get" action="/posts">
        <div class="cont">
            <button id="btn">Press Here Use the main App</button>
        </div>
        
    </form>
</body>
</html>