<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST" action="/users/new?_method=POST" >
        <h2>Add More users into our Database</h2>
        <input name="username" placeholder="username" type="text">
        <input name="password" placeholder="password" type="password">
        <input name="email" placeholder="email" type="text">
        <button>Submit</button>
    </form>
</body>
</html>